# Xcode
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
.DS_Store
*.ipa
*.dSYM.zip

# Build artifacts
build/
*.framework
*.a
*.so
*.xcframework
MobileVLCKit.xcframework.zip

# Package Manager
.swiftpm/
Package.resolved

# Local build cache
.build/